In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/dimri/Downloads/data.csv", encoding = 'latin-1')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [6]:
df.describe().T.style.background_gradient(cmap='Blues')

In [7]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [13]:
df.sort_values(by=['Quantity']).head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,12/9/2011 9:27,2.08,16446.0,United Kingdom
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,1/18/2011 10:17,1.04,12346.0,United Kingdom
225529,556690,23005,printing smudges/thrown away,-9600,6/14/2011 10:37,0.00,NaN,United Kingdom
225530,556691,23005,printing smudges/thrown away,-9600,6/14/2011 10:37,0.00,NaN,United Kingdom
4287,C536757,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360,12/2/2010 14:23,0.03,15838.0,United Kingdom
225528,556687,23003,Printing smudges/thrown away,-9058,6/14/2011 10:36,0.00,NaN,United Kingdom
115818,546152,72140F,throw away,-5368,3/9/2011 17:25,0.00,NaN,United Kingdom
431381,573596,79323W,"Unsaleable, destroyed.",-4830,10/31/2011 15:17,0.00,NaN,United Kingdom
341601,566768,16045,NaN,-3667,9/14/2011 17:53,0.00,NaN,United Kingdom
323458,565304,16259,NaN,-3167,9/2/2011 12:18,0.00,NaN,United Kingdom

In [15]:
drop_list = df[df['Quantity'] < -10000].index

In [17]:
df.drop(index = drop_list, inplace = True)

In [28]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [22]:
df.dropna(subset = ['CustomerID'], inplace = True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406827 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406827 non-null  object
 1   StockCode    406827 non-null  object
 2   Description  406827 non-null  object
 3   Quantity     406827 non-null  int64
 4   InvoiceDate  406827 non-null  object
 5   UnitPrice    406827 non-null  float64
 6   CustomerID   406827 non-null  float64
 7   Country      406827 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

In [26]:
df.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
63682,541590,22937,BAKING MOULD CHOCOLATE CUPCAKES,6,1/19/2011 14:50,2.55,13310.0,United Kingdom
166565,550941,21175,GIN + TONIC DIET METAL SIGN,2,4/21/2011 15:46,2.55,17109.0,United Kingdom
168352,551028,22175,PINK OWL SOFT TOY,6,4/26/2011 11:30,2.95,13842.0,United Kingdom
56694,541110,72351B,SET/6 PINK BUTTERFLY T-LIGHTS,4,1/13/2011 15:11,2.10,15916.0,United Kingdom
33286,539246,20757,RED DAISY POCKET BOOK,3,12/16/2010 13:33,0.85,14606.0,United Kingdom
88020,543747,21655,HANGING RIDGE GLASS T-LIGHT HOLDER,24,2/11/2011 13:53,1.69,13672.0,United Kingdom
285649,561915,20992,JAZZ HEARTS PURSE NOTEBOOK,8,8/1/2011 11:23,0.39,14408.0,United Kingdom
189239,553142,22844,VINTAGE CREAM DOG FOOD CONTAINER,2,5/13/2011 13:05,8.50,14527.0,United Kingdom
257092,559512,23203,JUMBO BAG DOILEY PATTERNS,20,7/8/2011 15:54,2.08,14188.0,United Kingdom
307327,563912,21465,PINK FLOWER CROCHET FOOD COVER,6,8/21/2011 12:58,3.75,17675.0,United Kingdom

In [30]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [42]:
df['CustomerID'] = df['CustomerID'].astype(int)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406827 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406827 non-null  object
 1   StockCode    406827 non-null  object
 2   Description  406827 non-null  object
 3   Quantity     406827 non-null  int64
 4   InvoiceDate  406827 non-null  datetime64[ns]
 5   UnitPrice    406827 non-null  float64
 6   CustomerID   406827 non-null  float64
 7   Country      406827 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

In [33]:
df['Date'] = df['InvoiceDate'].dt.date

In [35]:
df['Time'] = df['InvoiceDate'].dt.time

In [38]:
df.drop(axis=1,columns = 'InvoiceDate', inplace = True)

In [39]:
df.sample(5)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Date,Time
162943,550525,85062,PEARL CRYSTAL PUMPKIN T-LIGHT HLDR,18,1.65,14672.0,United Kingdom,2011-04-19,10:19:00
28849,538661,22112,CHOCOLATE HOT WATER BOTTLE,15,4.95,15194.0,United Kingdom,2010-12-13,15:42:00
514836,C579748,23229,VINTAGE DONKEY TAIL GAME,-1,3.75,14875.0,United Kingdom,2011-11-30,14:41:00
491620,578068,23502,PLAYING CARDS VINTAGE DOILY,1,1.25,14505.0,United Kingdom,2011-11-22,15:45:00
52487,540798,22233,JIGSAW RABBIT AND BIRDHOUSE,3,1.65,17365.0,United Kingdom,2011-01-11,12:11:00

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406827 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406827 non-null  object
 1   StockCode    406827 non-null  object
 2   Description  406827 non-null  object
 3   Quantity     406827 non-null  int64
 4   UnitPrice    406827 non-null  float64
 5   CustomerID   406827 non-null  int32
 6   Country      406827 non-null  object
 7   Date         406827 non-null  object
 8   Time         406827 non-null  object
dtypes: float64(1), int32(1), int64(1), object(6)
memory usage: 29.5+ MB

In [51]:
#df.to_csv('cust1.csv', encoding = "utf-8", index = False)